.buttonWrapper button {
    margin-top: 20px;
    min-width: 70px;
    min-height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #5199ec;
    color: #f1efef;
}
.buttonWrapper button:active {
    opacity: 0.8;
}