.errorPageWrapper {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #f6f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorMessageWrapper {
    min-width: 250px;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #b6f371;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    box-shadow: 0px 0px 100px 20px #433d43;
}

.errorMessageWrapper h1 {
    margin-bottom: 10px;
}